<% if ! flash[:notice].blank? %>
<div class="notice">
<%= flash[:notice] %>
</div>
<% end %>

<h2>List of items</h2>

<table>
<tr class="header">

<th><b>Item</b></th>
<th><b>Action</b></th>
</tr>

<p>
<% @items.each do |item| %>
<tr>
<td><%= item.name  %></br></td>
<td>
<%= link_to"show",item_show_path(item) %>
</td>
</tr>
<% end %>	
</p>

<b><%= link_to "Create new item", item_new_path %></b>
</table>

