// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2{
	font-size:22px;
	font-weight:bold;
	font-family:comic sans ms;
	color: Brown;
	text-align:left;
	}

	p{
	font-size:15px;
	font-weight:bold;
	font-family:comic sans ms;
	color: Brown;
	text-align:left;
	}

body { 
background-image:url("http://static1.grsites.com/archive/textures/beige/beige001.jpg");
}
















